@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif !important;
  min-height: 100%;
}

* {
  font-family: inherit;
}

h1,
h2,
h3 {
  font-family: "Fraunces", Georgia, serif;
}

body {
  margin: 0;
}
